.form-log {
  width: 350px;
  // padding-bottom: 50px;
  // background-image: url(../../assets/images/BackGround-login.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(68, 200, 2, 0.737) 0px 0px 0px 2px inset,
    rgb(255, 255, 255) 10px -10px 0px -3px, rgb(42, 174, 2) 10px -10px,
    rgb(255, 255, 255) 20px -20px 0px -3px, rgba(70, 164, 8, 0.674) 20px -20px,
    rgb(255, 255, 255) 30px -30px 0px -3px, rgb(1, 168, 57) 30px -30px,
    rgb(255, 255, 255) 40px -40px 0px -3px, rgba(85, 255, 150, 0.651) 40px -40px;
  border-radius: 5px;
  h2 {
    text-align: center;
    color: #029053;
    padding: 30px 0;
  }
  .form-log-father {
    position: relative;
    margin-top: 50px;
    .form-log-child {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -25px;
      color: #000;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      padding: 10px;
      i {
        font-size: 40px;
      }
    }
    background-color: #fff;
    border-radius: 5px;
    .form-log-body {
      display: flex;
      padding: 40px !important;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      padding: 30px 0;
      .bao-input {
        position: relative;
        border-radius: 50px;
        padding: 5px 0;
        border-bottom: 2px solid #ccc;
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;

        i {
          padding: 5px 0 5px 15px;
          color: #4e4e4e;
        }
        input {
          border: none;
          margin: 5px 10px;
          &:focus-visible {
            outline: none;
          }
        }
        .fa-eye,
        .fa-eye-slash {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
      .btn-submit-log {
        background-color: #579ba5;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
        color: #fff;
        width: 100%;
        &:hover {
          box-shadow: none;
          background-color: #69bbc7;
        }
      }
    }
  }
}
